<!-- Sponsors Section -->
<section id="sponsors" class="content-section">
  <div class="container">
    <div class="row">
      <h2>Sponsors</h2>
      <p>Thank you to our festival sponsors for all their support!</p>
      <h3>Star of the Show</h3>
      <p>
        <a href="http://kp.org/georgia" target="_blank"><img src="/images/sponsors/kp-stacked.png" alt="Kaiser Permanente" class="logo-biggest img-response"/></a>
      </p>

      <hr/>

      <h3>Cast Members</h3>
      <p>
        <a href="https://www.mikeshard.com/" target="_blank"><img src="/images/sponsors/mikes-hard.png" alt="Mike's Hard Lemonade" class="logo-cast-member img-response"/></a>
        <a href="http://budlight.com/" target="_blank"><img src="/images/sponsors/bud-light.png" alt="Bud Light" class="logo-cast-member img-response"/></a>
        <a href="http://atlantadogwizard.com/" target="_blank"><img src="/images/sponsors/dogwiz.png" alt="Atlanta Dog Wizard" class="logo-cast-member img-response"/></a>
      </p>

      <hr/>

      <h3>Director</h3>
      <p>
        <a href="https://yourpie.com/stores/atlanta-grant-park/" target="_blank"><img src="/images/sponsors/your-pie.png" alt="Your Pie Grant Park" class="logo-cast-member img-response"/></a>
      <p>

      <hr/>

      <h3>Understudies</h3>
      <p>
        <a href="http://badabingsatl.com/" target="_blank"><img src="/images/sponsors/bada-bings.png" alt="Bada Bings" class="logo-medium img-response"/></a>
        <a href="http://pellerinrealestate.com/" target="_blank"><img src="/images/sponsors/pellerin.png" alt="Pellerin Real Estate" class="logo-medium img-response"/></a>
        <a href="http://www.thebouncersshow.com/" target="_blank"><img src="/images/sponsors/bouncers.gif" alt="The Bouncers" class="logo-medium img-response"/></a>
      </p>

      <hr/>

      <h3>Crew Members</h3>
      <p>
        <a href="http://www.strikingmarketing.com/" target="_blank"><img src="/images/sponsors/striking.png" alt="StriKing Marketing" class="logo-small img-response"/></a>
        <a href="https://www.opendoor.com/t/f_events/c_q118pilot/p_improvfest" target="_blank"><img src="/images/sponsors/opendoor.png" alt="Opendoor" class="logo-small img-response"/></a>
        <a href="http://atlantabeerbus.com/" target="_blank"><img src="/images/sponsors/atlanta-beer-bus.png" alt="Atlanta Beer Bus" class="logo-small img-response"/></a>
        <a href="http://repyourhood.myshopify.com/" target="_blank"><img src="/images/sponsors/rep-your-hood.png" alt="Rep Your Hood" class="logo-small img-response"/></a>
        <a href="http://www.improvutopia.com/" target="_blank"><img src="/images/sponsors/camp-improv-utopia.png" alt="Camp Improv Utopia" class="logo-small img-response"/></a>
      </p>
    </div>
  </div>
</section>
