---
layout: "layout"
---
<section class="container content-section bio">
  <div class="row">
    <div class="col-12">
      <%= partial "bio", locals: {bio: bio, show_workshops: true} %>
    </div>
  </div>
</section>
