<h3>Ticket descriptions</h3>

<h4>College ID Pass</h4>
<h5>$5 online / $10 door</h5>
<ul>
  <li>General admission to individual shows</li>
</ul>

<h4>AIF Tournament Shows</h4>
<h5>$10 online / $15 door</h5>
<ul>
  <li>General admission</li>
</ul>

<h4>Individual Shows</h4>
<h5>$10 online / $15 door</h5>
<ul>
  <li>General admission</li>
</ul>

<h4>Headliner Shows</h4>
<h5>$30 online / $40 door</h5>
<ul>
  <li>General admission</li>
</ul>

<h4>Night Pass</h4>
<h5>$50 online / $60 door</h5>
<ul>
  <li>Priority seating before General Admission tickets</li>
  <li>Your Night Pass gets you access to all the shows on that night only</li>
  <li>You MUST be at the theatre in the Bar Area and checked in at the Box Office 15 minutes before the show you would like to see</li>
  <li>AIF reserves the right to sell your seat for each show at show time if you have not checked in at the Box Office</li>
</ul>

<h4>VIP Weekend Pass</h4>
<h5>$100 online / $125 door</h5>
<ul>
  <li>Priority seating before EVERYONE ELSE</li>
  <li>These tickets are for ALL THREE NIGHTS</li>
  <li>You have access to any and all shows for the entire weekend</li>
  <li>You will be the first people let in to the theatre</li>
  <li>You must be at the theatre in the Bar Area and checked in at the Box Office 15 minutes before the show you would like to see</li>
  <li>AIF reserves the right to sell your seat for each show at show time if you have not checked in at the Box Office</li>
  <li>You get a fancy lanyard</li>
  <li>FREE Weekend Membership to the VT Mug Club
  <ul>
    <li>You get a free VT mug for the weekend and draft beers cost you a $1 less all weekend long</li>
    <li>Two FREE drink tickets per night (total of six)</li>
  </ul>
  </li>
</ul>

<h4>Performer Pass - FREE</h4>
<ul>
  <li>Each performer gets a free Standby Pass to each show</li>
  <li>You will automatically be at the top of any standby ticket list created and get in free AFTER we sell extra tickets</li>
  <li>You can buy a ticket for $5 to any show (except headliners) and be seated with VIPs prior to the show</li>
  <li>You must be at the box office 15 minutes before the show you would like to see</li>
</ul>
