<h2>Tickets</h2>
<p>There are many ways to see the great shows at the Atlanta Improv Festival! You can get tickets for individual shows, or if you wanna improv your brains out, grab a night or weekend pass!</p>
<div id="ticket-links" class="row">
  <p><a class='btn btn-default btn-lg' href="https://www.freshtix.com/events/2018-atlanta-improv-festival"><i class="fa fa-id-badge fa"></i> Night/Weekend Passes</a></p>
  <p><a class='btn btn-default btn-lg'  href="/shows/"><i class="fa fa-ticket"></i> Individual Show Tickets</a></p>
</div>
