<!DOCTYPE html>
<html lang="en">
<%= partial "partials/head" %>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= yield %>
    <%= partial "partials/bottom_js" %>
  </body>
</html>
