<footer>
  <div class="container text-center footer">
    <h3>#ATLIF2018</h3>
    <ul class="list-inline banner-social-buttons">
      <li>
      <a href="https://www.facebook.com/ATLImprovFest" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a>
      </li>
      <li>
      <a href="https://twitter.com/ATLImprovFest" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i></a>
      </li>
      <li>
      <a href="https://instagram.com/ATLImprovFest" rel="publisher" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i></a>
      </li>
      <li>
      <a href="mailto:questions@atlantaimprovfestival.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i></a>
      </li>
    </ul>
    <p>Presented by <h3><a class="red" href="http://villagecomedy.com">The Village Theatre</i></a></h3></p>
  </div>
</footer>
