<!-- About Section -->
<section id="about" class="content-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>2018 <span class="blue">Atlanta</span> Improv Festival</h2>
        <p>The Atlanta Improv Festival returns to <a href="http://villagecomedy.com">The Village Theatre</a> April 5-7th in Atlanta’s historic Old Fourth Ward. The festival boasts the best improv acts in the city as well as top performers from across the country. Shows are scheduled for Thursday night through Saturday night in one of our two theatre spaces. During the day, the festival will offer improv workshops for everyone from beginners to advanced performers.</p>
    </div>
  </div>
</section>
